version: "3.8"
services:
  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Nairobi
    volumes:
      - ~/readarr/config:/config
      - /home/minos/Downloads:/downloads     # same as qBittorrent download dir
      - ~/audiobooks:/books        # final library folder
    ports:
      - 8787:8787
    restart: unless-stopped
