services:
  readarr:
    image: lscr.io/linuxserver/readarr:latest
    container_name: readarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Nairobi
    volumes:
      - ~/readarr/config:/config
      - /mnt/nas/data-store/Downloads:/downloads
      - /mnt/nas/data-store/audiobooks:/books
    ports:
      - 8787:8787
    restart: unless-stopped



